doctype html
html
  head
    title CAPTCHA Project
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/index.js')
  body
    h1 Welcome!
    block content
    block next