doctype html
html
	head
		title CAPTCHA Project
		link(rel='stylesheet', href='/stylesheets/trial.css')
		script(type='text/javascript', src='/javascripts/trial.js')
		if window
			each object, key in window
				script.
					window.!{key} = !{JSON.stringify(object)};
	body
		h1#question Press any key to begin
		table(style = 'width:75%', border='1')#grid
			tr
				td#grid-1
				td#grid-2
				td#grid-3
				td#grid-4
				td#grid-5
			tr
				td#grid-6
				td#grid-7
				td#grid-8
				td#grid-9
				td#grid-10
			tr
				td#grid-11
				td#grid-12
				td#grid-13
				td#grid-14
				td#grid-15
		p#timer
		h3#next