body {
	background-color: black;
	font-family: "Courier", serif;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	margin-top: 75px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
}