body {
	background-color:black;
	color:white;
	font-family: "Helvetica", arial;
	letter-spacing:1px;
	text-align:center;
}

#header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#instructions {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#taskgrid {
	margin-left: auto;
	margin-right: auto;
}

#trialgrid {
	width: 100px;
}

#images {
	width: 900px;
}

img {
	width: 100%;
	height: 100%;
	margin-right: 2px;
	margin-left: 2px;
}

#images img:hover{
	width:200%;
	height:200%;
	position: relative;
}
#images td {
	width: 455px;
	height: 150px;
	padding-left: 2px;
	padding-right: 2px;
}